<%- include('header'); -%>




  <div class="main">
    <h2>Homepage الصفحة الرئيسية</h2>
    <p>This web will allows you to enter Al-Rwada AL-sherfa Under these terms </p>
    <p>سيسمح لك هذا الموقع بالدخول إلى الروضة الشريفة بموجب هذه الشروط</p>
    <ul>
        <li>Commitment to cleanliness and respect for the place.</li>
        <li>Show up on time and leave as well.</li>
        <li>It is prohibited to bring food and drinks.</li>

    </ul>

    <h2>Registering</h2>
    

    If you want to register inside Al-Rawdah Al-sharifa please hit the user button on the top left of your screen 










  </div>

  


<%- include('footer'); -%>
